.header {
    padding: 9% 0px;
    border-radius: 0 0 50% 50%;
    background-image: url('../../assets/images/burger-gray.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}
